h1 {
  color: pink;
  text-align: center;
  text-transform: uppercase;
}
.App{
  text-align: center;
}

.Profile{
  margin: 0 auto;
  display: flex;
}

.image{
  flex: 1;
}

.information{
  flex: 1;
  margin-top: 150px;
}
.formInput {
  margin: 0 auto;
  width: 500px;
}
.formInput input{
  display: block;
  gap : 12px;
  height: 35px;
  width: 100%;
  margin: 20px;
}
.formInput button {
  width: 200px;
  height: 35px;
}
form {
  width: 30%;
  padding: 20px;
  position: fixed;
}
form  input {
  height: 35px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
textarea {
  width: 100%;
}

.flex{
  display: flex;

}
form{
  margin: 20px;
}
.posts {
  margin-left: 50%;
}
.btn-delete {
  background-color: red;
}