h1 {
  color: pink;
  text-align: center;
  text-transform: uppercase;
}
.App{
  text-align: center;
}

.Profile{
  margin: 0 auto;
  display: flex;
}

.image{
  flex: 1;
}

.information{
  flex: 1;
  margin-top: 150px;
}